<p>Success downloaded</p>
<!-- {% for post in object_list %}
    {{ post.author }}
    {{ post.published_date }}
    {{ post.file_no }}
    {{ post.record_no }}
    {{ post.entry_date }}
    {{ post.ref_no }}
    {{ post.invoice_no }}
    {{ post.courier_name }}
                                 {{ post.con_no }} 
                                 {{ post.dispatch_date }} 
                                 {{ post.dispatch_by }} 
                                 {{ post.sales_date }} 
                                 {{ post.sales_time }} 
                                 {{ post.customer_name }} 
                                 {{ post.mail_address }} 
                                 {{ post.agent_name }} 
                                 {{ post.address }} 
                                 {{ post.city }} 
                                 {{ post.state }} 
                                 {{ post.zip_code }} 
                                 {{ post.customer_phone }} 
                                 {{ post.credit_card_type }} 
                                 {{ post.credit_card_number }}
                                 <br>
                                 <br>
                                 <hr>
{% endfor %} -->