{% extends 'admin_form/a_base.html' %}
{% block content %}
{% if user.is_superuser %}
<!-- admin profile  -->
<section class="mt-5">
    <div class="container pt-5">
        <!-- title -->
        <!-- end of title -->
        <div class="row">
            <div class="col-sm-10 col-md-12 col-lg-12 bg-frame py-5">
                <div class="col-sm-6 col-md-8 col-lg-8 text-left mt-5 py-0 pl-0">
                    <!-- <div class="d-flex justify-content-end">
                        <h4 class="btn btn-primary round-box mr-5">Search</h4>
                    </div> -->
                                     
                </div>
                <!-- view the data in table form -->
                {% for post in post_list %}
                    {% if forloop.first %}
                    <h3 class="text-success py-2 px-5">Data of <span class="font-weight-bold">{{post.author}}</span></h3>
                    {%endif%}
                {% endfor %}

                <div>
                    <h3>Total forms: {{ total_user_forms }} </h3>
                </div>

                
                <!-- {{ total_forms }} -->

                <div class="table-responsive table-hover mx-auto">
                    <table class="table bg-white">
                        <thead>
                            <tr>
                                <th scope="col">Author</th>
                                <th scope="col">File No</th>
                                <th scope="col">Record No</th>
                                <th scope="col">Entry Date</th>
                                <th scope="col">Ref No</th>
                                <th scope="col">Invoice No</th>
                                <th scope="col">Courier Name</th>
                                <th scope="col">Con No</th>
                                <th scope="col">Dispatch Date</th>
                                <th scope="col">Dispatch By</th>
                                <th scope="col">Sales Date</th>
                                <th scope="col">Sales Time</th>
                                <th scope="col">Customer Name</th>
                                <th scope="col">Mail Address</th>
                                <th scope="col">Agent Name</th>
                                <th scope="col">Address</th>
                                <th scope="col">City</th>
                                <th scope="col">State</th>
                                <th scope="col">Zip Code</th>
                                <th scope="col">Customer Phone</th>
                                <th scope="col">Credit Card Type</th>
                                <th scope="col">Credit Card Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in post_list %}
                            <tr>
                                <td>{{ post.author }}</td>
                                <td><a href="{% url 'post_detail' pk=post.pk %}">{{ post.file_no }}</a></td>
                                <td>{{ post.record_no }}</td>
                                <td>{{ post.entry_date }}</td>
                                <td>{{ post.ref_no }}</td>
                                <td>{{ post.invoice_no }}</td>
                                <td>{{ post.courier_name }}</td>
                                <td>{{ post.con_no }}</td>
                                <td>{{ post.dispatch_date }}</td>
                                <td>{{ post.dispatch_by }}</td>
                                <td>{{ post.sales_date }}</td>
                                <td>{{ post.sales_time }}</td>
                                <td>{{ post.customer_name }}</td>
                                <td>{{ post.mail_address }}</td>
                                <td>{{ post.agent_name }}</td>
                                <td>{{ post.address }}</td>
                                <td>{{ post.city }}</td>
                                <td>{{ post.state }}</td>
                                <td>{{ post.zip_code }}</td>
                                <td>{{ post.customer_phone }}</td>
                                <td>{{ post.credit_card_type }}</td>
                                <td>{{ post.credit_card_number }}</td>
                            </tr>

                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- end of table -->

            </div>
        </div>
    </div>  
</section>
<!-- end of admin profile -->
{% elif user.is_authenticated %}
<!-- operator profile  -->
<section class="mt-5">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center" style="height: 40vh">
            <div class="col-sm-10 text-center">
                <h2 class="font-weight-light text-danger">Wrong Place!</h2>
                <h3 class="text-white">Go to Profile <a href="{% url 'user_profile' %}" class="btn btn-sm btn-warning btn-lg px-4 m-3">{{user.username}} </a>or<a href="{% url 'logout' %}" class="btn btn-sm btn-warning btn-lg px-4 m-3">Logout </a></h3>
            </div>
        </div>
    </div>
</section>
<!-- end of operator profile -->
{% else %}
<div class="text-white">
    <section>
        <div class="container-fluid">
            <div class="row justify-content-center align-items-center" style="height: 100vh">
                <div class="col-sm-10 text-center">
                    <h1 class="display-2 text-capitalize"><span class="text-warning">Data Entry </span><span class="text-white font-weight-bold">Welcome</span></h1>
                    <h2 class="font-weight-light font-italic text-light">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
                    <a href="{% url 'login' %}" class="btn btn-warning btn-lg px-4 m-3">Click here to login</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endif %}

{% endblock %}